<a href="https://colab.research.google.com/github/7812400207/Data-Cleaning/blob/main/Copy_of_Sanity_Check_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd
df1 = pd.read_csv('Credit Banking_Project - 1.xls - Customer Acqusition.csv')
print(df1)

    Sl No: Customer      Age        City Credit Card Product           Limit  \
0        1       A1   0.9285   BANGALORE                Gold  INR 500,000.00
1        2       A2  35.5346    CALCUTTA              Silver  INR 100,000.00
2        3       A3  11.5593      COCHIN            Platimum   INR 10,000.00
3        4       A4  45.8203      BOMBAY            Platimum   INR 10,001.00
4        5       A5  69.6639   BANGALORE            Platimum   INR 10,002.00
..     ...      ...      ...         ...                 ...             ...
95      96      A96  29.6316     CHENNAI              Silver  INR 100,000.00
96      97      A97  20.6118  TRIVANDRUM            Platimum   INR 10,000.00
97      98      A98  40.5390    CALCUTTA            Platimum   INR 10,001.00
98      99      A99  21.5887    CALCUTTA            Platimum   INR 10,002.00
99     100     A100  23.6076      COCHIN              Silver  INR 100,000.00

   Company        Segment
0       C1  Self Employed
1       C2   Salaried_MNC
2       C3   Salaried_Pvt
3       C4           Govt
4       C5  Normal Salary
..     ...            ...
95     C19   Salaried_Pvt
96     C20           Govt
97     C21  Normal Salary
98     C22  Self Employed
99      C5   Salaried_MNC

[100 rows x 8 columns]

In [ ]:
df2 = pd.read_csv('Credit Banking_Project - 1.xls - Spend.csv')
print(df2)

      Sl No: Costomer      Month        Type  Amount
0          1       A1  12-Jan-04   JEWELLERY  473776
1          2       A1   3-Jan-04       PETRO  335579
2          3       A1  15-Jan-04     CLOTHES  371041
3          4       A1  25-Jan-04        FOOD  141178
4          5       A1  17-Jan-05      CAMERA  398404
...      ...      ...        ...         ...     ...
1495    1496      A67   4-Feb-06  BUS TICKET  195841
1496    1497      A68  25-Mar-06  BUS TICKET  284263
1497    1498      A69  31-Mar-06  BUS TICKET  206552
1498    1499      A70  23-Mar-06  BUS TICKET   41025
1499    1500      A71  24-Mar-06  BUS TICKET  101398

[1500 rows x 5 columns]

In [ ]:
df3 = pd.read_csv('Credit Banking_Project - 1.xls - Repayment.csv')
print(df3)

      SL No: Costomer      Month         Amount
0          1       A1  12-Jan-04  331844.007400
1          2       A1   3-Jan-04  441139.807300
2          3       A1  15-Jan-04   32480.004010
3          4       A1  25-Jan-04   90636.966530
4          5       A1  17-Jan-05    1581.969829
...      ...      ...        ...            ...
1495    1496      A67   9-May-05  200288.874100
1496    1497      A68  10-May-06  231194.702300
1497    1498      A69  11-Jul-06  391195.615800
1498    1499      A70  12-Aug-05  357629.618200
1499    1500      A71  13-Sep-04  179771.745200

[1500 rows x 4 columns]

In [ ]:
df2 = df2.rename(columns={'Costomer': 'Customer'})
df3 = df3.rename(columns={'Costomer': 'Customer'})

In [ ]:
# Calculate the average age
average_age = df1['Age'].mean()
print('Average age is: ', average_age, '\n')
# Replace ages less than 18 with the average age
df1.loc[df1['Age'] < 18, 'Age'] = average_age
# Verify the changes
print(df1)

Average age is:  40.146511000000004

    Sl No: Customer        Age        City Credit Card Product  \
0        1       A1  40.146511   BANGALORE                Gold
1        2       A2  35.534600    CALCUTTA              Silver
2        3       A3  40.146511      COCHIN            Platimum
3        4       A4  45.820300      BOMBAY            Platimum
4        5       A5  69.663900   BANGALORE            Platimum
..     ...      ...        ...         ...                 ...
95      96      A96  29.631600     CHENNAI              Silver
96      97      A97  20.611800  TRIVANDRUM            Platimum
97      98      A98  40.539000    CALCUTTA            Platimum
98      99      A99  21.588700    CALCUTTA            Platimum
99     100     A100  23.607600      COCHIN              Silver

             Limit Company        Segment
0   INR 500,000.00      C1  Self Employed
1   INR 100,000.00      C2   Salaried_MNC
2    INR 10,000.00      C3   Salaried_Pvt
3    INR 10,001.00      C4           Govt
4    INR 10,002.00      C5  Normal Salary
..             ...     ...            ...
95  INR 100,000.00     C19   Salaried_Pvt
96   INR 10,000.00     C20           Govt
97   INR 10,001.00     C21  Normal Salary
98   INR 10,002.00     C22  Self Employed
99  INR 100,000.00      C5   Salaried_MNC

[100 rows x 8 columns]

In [ ]:
# Convert 'RepaymentDate' column to datetime format
df3['Month'] = pd.to_datetime(df3['Month'])

# Extract month from 'RepaymentDate' column
df3['Month'] = df3['Month'].dt.month

# Group by customer ID and month, then sum the repayment amount
monthly_repayment = df3.groupby(['Customer', 'Month'])['Amount'].sum()

# Reset index to make it a DataFrame
monthly_repayment = monthly_repayment.reset_index()

# Print the result
print(monthly_repayment)

    Customer  Month        Amount
0         A1      1  1.364357e+06
1         A1      2  1.390988e+06
2         A1      4  3.712733e+05
3         A1      7  3.005817e+05
4         A1      9  1.083201e+05
..       ...    ...           ...
553      A95      1  7.510949e+04
554      A96      1  1.101390e+05
555      A97      1  1.746064e+05
556      A98      1  9.780260e+04
557      A99      1  3.585899e+05

[558 rows x 3 columns]

In [ ]:
# Group by customer and sum the repayment amount
total_repayment = df3.groupby('Customer')['Amount'].sum()

total_repayment_sorted = total_repayment.sort_values(ascending=False)

# Select the top 10 customers
top_10_customers = total_repayment_sorted.head(10)

# Print the result
print(top_10_customers)

Customer
A22    9.767171e+06
A60    9.262032e+06
A61    8.807888e+06
A40    8.805085e+06
A47    8.529826e+06
A43    8.458621e+06
A48    8.432804e+06
A41    8.374046e+06
A49    8.259841e+06
A45    8.115210e+06
Name: Amount, dtype: float64

In [ ]:
# Merge df1 and df2 on 'Customer' column
merged_df = pd.merge(df1, df2, on='Customer')

# Group by segment and sum the spend amount
segment_spend = merged_df.groupby('Segment')['Amount'].sum()

# Sort the segment spend amounts in descending order
segment_spend_sorted = segment_spend.sort_values(ascending=False)

# Print the result
print(segment_spend_sorted)

Segment
Normal Salary    107707139
Salaried_Pvt      71704312
Self Employed     70975481
Govt              67325627
Salaried_MNC      63639486
Name: Amount, dtype: int64

In [ ]:
# Define age groups
age_bins = [0, 20, 30, 40, 50, 60, 70, 80, 90, 100]
age_labels = ['0-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90-100']

# Cut the 'Age' column into age groups in df1
df1['AgeGroup'] = pd.cut(df1['Age'], bins=age_bins, labels=age_labels, right=False)

# Merge df1 and df2 on 'Customer' column
merged_df = pd.merge(df1, df2, on='Customer')

# Group by age group and sum the spend amount
age_group_spend = merged_df.groupby('AgeGroup')['Amount'].sum()

# Sort the age group spend amounts in descending order
age_group_spend_sorted = age_group_spend.sort_values(ascending=False)

# Print the result
print(age_group_spend_sorted)

AgeGroup
40-49     135712811
60-69      71432443
70-79      62662744
50-59      46888428
20-29      36972283
30-39      18566883
0-19        9116453
80-89             0
90-100            0
Name: Amount, dtype: int64

In [ ]:
# Merge df1 and df2 on 'Customer' column
merged_df = pd.merge(df1, df2, on='Customer')

# Group by segment and sum the spend amount
segment_spend = merged_df.groupby('Segment')['Amount'].sum()

# Group by segment and sum the repayment amount
segment_repayment = df3.groupby('Customer')['Amount'].sum()
merged_df['Repayment'] = merged_df['Customer'].map(segment_repayment)
segment_repayment = merged_df.groupby('Segment')['Repayment'].sum()

# Calculate profit for each segment (spend - repayment)
segment_profit = segment_spend - segment_repayment

# Find the segment with the highest profit
most_profitable_segment = segment_profit.idxmax()

# Print the result
print("The most profitable segment is:", most_profitable_segment)

The most profitable segment is: Govt

In [ ]:
# Group by category and sum the spend amount
category_spend = df2.groupby('Type')['Amount'].sum()

# Sort the category spend amounts in descending order
category_spend_sorted = category_spend.sort_values(ascending=False)

# Print the result
print(category_spend_sorted)

Type
PETRO           51022578
CAMERA          43721016
FOOD            38296468
AIR TICKET      37435466
TRAIN TICKET    31812619
SHOPPING        27418682
JEWELLERY       25247944
BUS TICKET      24905901
CLOTHES         24791096
RENTAL          20914668
MOVIE TICKET    18784583
BIKE            13152641
AUTO            10505088
CAR              7018277
SANDALS          6325018
Name: Amount, dtype: int64

In [ ]:
# Merge df1 and df2 on 'Customer' column
merged_df = pd.merge(df1, df2, on='Customer')

# Group by customer and sum the spend amount
customer_spend = merged_df.groupby('Customer')['Amount'].sum()

# Group by customer and sum the repayment amount
customer_repayment = df3.groupby('Customer')['Amount'].sum()

# Calculate due amount for each customer
due_amount = customer_spend - customer_repayment

# Calculate interest for each customer
interest = due_amount * 0.029  # 2.9% interest rate

# Add interest to the total repayment amount for each customer
total_repayment_with_interest = customer_repayment + interest

# Print the result
print(total_repayment_with_interest)

Customer
A1      3.861702e+06
A10     5.197845e+06
A100    1.479837e+05
A11     4.730852e+06
A12     7.551753e+06
            ...
A95     8.301850e+04
A96     1.162355e+05
A97     1.743084e+05
A98     9.750336e+04
A99     3.619954e+05
Name: Amount, Length: 100, dtype: float64

In [ ]:
df4 = pd.read_csv('Credit Banking_Project - 1.xls - Repayment.csv')
df4 = df4.rename(columns={'Costomer': 'Customer'})

# Convert 'RepaymentDate' column to datetime format
df4['Month'] = pd.to_datetime(df4['Month'])

# Extract month from 'RepaymentDate' column
df4['Month'] = df4['Month'].dt.month

# Merge df1 and df2 on 'Customer' column
merged_df = pd.merge(df1, df2, on='Customer')

# Group by month and sum the spend amount
monthly_spend = merged_df.groupby('Month')['Amount'].sum()


# Group by month and sum the repayment amount
monthly_repayment = df3.groupby('Month')['Amount'].sum()
print(monthly_repayment)

# Calculate monthly profit (spend - repayment)
monthly_profit = monthly_spend - monthly_repayment

# Fill NaN values with 0
#monthly_profit = monthly_profit.fillna(0)

# Print the result
print(monthly_profit)

Month
1     7.811722e+07
2     5.683854e+07
3     5.466582e+07
4     3.812188e+07
5     6.357176e+07
6     1.176783e+07
7     1.200257e+07
8     1.156848e+07
9     1.131692e+07
10    5.914889e+06
11    2.106101e+07
12    6.261530e+06
Name: Amount, dtype: float64
Month
1-Apr-06    NaN
1-Feb-05    NaN
1-Jun-05    NaN
10-May-06   NaN
11-Jul-06   NaN
             ..
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
Name: Amount, Length: 86, dtype: float64

In [ ]:
# Convert 'RepaymentDate' column to datetime format
df3['Month'] = pd.to_datetime(df3['Month'])

# Extract month from 'RepaymentDate' column
df3['Month'] = df3['Month'].dt.month

# Merge df1 and df2 on 'Customer' column
merged_df = pd.merge(df1, df2, on='Customer')

# Group by month and sum the spend amount
monthly_spend = merged_df.groupby('Month')['Amount'].sum()

# Group by month and sum the repayment amount
monthly_repayment = df3.groupby('Month')['Amount'].sum()

# Calculate monthly profit (spend - repayment)
monthly_profit = monthly_spend.sub(monthly_repayment, fill_value=0)

# Print the result
print(monthly_profit)

Month
1-Apr-06     3.604762e+06
1-Feb-05     5.383170e+06
1-Jun-05     4.390632e+06
10-May-06    3.036774e+06
11-Jul-06    3.877006e+06
                 ...
6-May-06     3.046085e+06
7-May-05     3.685865e+06
8-May-06     3.859636e+06
9-May-05     3.715704e+06
1           -3.712084e+08
Name: Amount, Length: 75, dtype: float64

In [ ]:
print(len(monthly_profit))

75